PORT=5000
MONGO_URI=mongodb://localhost:27017/bablu_medical
JWT_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me_too
NODE_ENV=development
BACKEND_PUBLIC_URL=http://localhost:5000
CLIENT_URLS=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=Bablu Medical Store
ORDER_NOTIFICATION_EMAIL=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_NOTIFY_TO=919371493956
WHATSAPP_GRAPH_VERSION=v23.0
